.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  input,
  button {
    font-size: 2rem;
    padding: 0.25em;
    border: 3px solid gray;
  }
  button {
    background-color: black;
    color: white;
  }
}
.input {
  max-width: 50vw;
}
